<header>
  <div class="heightscroll"></div>
  <div class="container">
    <div class="hamburger-menu">
      <div class="bar"></div>
    </div>
    <a class="logo" href="#"><img src="assets/images/logo.png"></a>
    <div class="menuWrap">
      <nav>
        <ul id="nav">
          <li><a href="#pHome" class="active js-scrollPage"><em><img src="assets/images/ico-menu1.png"></em>Trang
              chủ</a></li>
          <li><a href="#termAward" class="js-scrollPage"><em><img src="assets/images/ico-menu2.png"></em>Thể lệ & giải
              thưởng</a></li>
          <li><a href="#winner" class="js-scrollPage"><em><img src="assets/images/ico-menu3.png"></em>Danh sách trúng
              giải</a></li>
          <li><a href="" class=""><em><img src="assets/images/ico-menu4.png"></em>Tài khoản của bạn</a></li>
        </ul>
        <div class="shareMb">
          <p><span>Follow us</span><a href="#"><img src="assets/images/ico-fb-share.png"></a><a href="#"><img
                src="assets/images/ico-yt-share.png"></a></p>

        </div>
      </nav>
      <div class="profileMb">
        <div class="yourProfile">
          <div class="img" style="background: url(assets/images/demo/img-1.jpg);">
            <img src="assets/images/b.gif">
          </div>
          <div class="copy">
            <p><span>Nguyễn Văn An</span></p>
            <p><span>123 Lê Lợi</span></p>
            <p><span>TP HCM</span></p>
            <p><span>082421xxxx</span></p>
          </div>
          
        </div>
        <div class="btnWrap">
          <p>
            <a class="btn2" href="#"><span><img src="assets/images/text-7.png"></span></a>
          </p>
        </div>
        <img class="ele ele-1" src="assets/images/ele-6.png">
                    <img class="ele ele-2" src="assets/images/ele-11.png">
      </div>
    </div>

  </div>

</header>