<div id="profile" class="popupPage">
    <div class="ovl js_ClosePopup"></div>

    <div class="content">
        <div class="btnClosePu js_ClosePopup"></div>
        <div class="ct">
            <h2><span><img src="assets/images/text-11.png"></span></h2>
            <h2 class="ttMb">Nhập thông tin <br/>tài khoản</h2>
            <div class="contentWrap">
                <div class="bg"></div>
                <div class="yourProfileUpdate">
                    <div class="img" style="background: url(assets/images/demo/avatar.jpg);">
                        <img src="assets/images/b.gif">
                        <span></span>
                        <input id="ipFile" type="file">
                    </div>
                    <div class="copy">
                        <div class="ctIp">
                            <label>Họ & Tên</label>
                            <input type="text">
                        </div>
                        <div class="ctIp">
                            <label>Địa chỉ</label>
                            <input type="text" >
                        </div>
                        <div class="ctIp">
                            <label>Tỉnh thành</label>
                            <select>
                                <option>Hồ chí Minh</option>
                            </select>
                        </div>
                        <div class="ctIp">
                            <label>Số điện thoại</label>
                            <input type="text">
                        </div>
                    </div>
                    
                    
                </div>
                <div class="btnWrap">
                    <a class="btn2" href="#"><span><img src="assets/images/text-12.png"></span></a>
                    <img class="ele ele-1" src="assets/images/ele-7.png">
                    <img class="ele ele-2" src="assets/images/ele-8.png">
                </div>
                
            </div>
        </div>
    </div>
</div>

<div id="sharePu" class="popupPage" >
    <div class="ovl"></div>

    <div class="content">
        <!-- <div class="btnClosePu js_ClosePopup"></div> -->
        <div class="ct">
            <h2><span><img src="assets/images/text-10.png"></span></h2>
            <div class="topPuMb">
                <h3>Chia sẻ nhận thêm 1 lượt</h3>
            </div>
            <div class="contentWrap">
                <div class="bg"></div>
                <!-- <img class="bgFire" src="assets/images/ele-10.png"> -->
                <div class="shareWrap">
                    <div class="copy">
                        <h3>Chúc mừng bạn đã hoàn thành thử thách của AQUA. </h3>
                        <p>Hãy bấm nút “CHIA SẺ" công khai về Facebook cá nhân để nhận thêm 01 lượt chơi nữa nhé. ​
                            Đừng quên kêu gọi thật nhiều bạn bè click tham gia để có thể nhận “Giải Chia Sẻ” cực chất nha.​</p>
                        <div class="btnWrap">
                            <p>
                                <a class="btn1" href="#"><img src="assets/images/ico-fb.png"><span>Chia sẻ</span></a>
                            </p>
                            <a class="js_ClosePopup" href="#">Bỏ qua</a>
                        </div>
                    </div>
                    <!-- <img class="ele ele-1" src="assets/images/ele-9.png"> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="gamequiz" class="popupPage">
    <div class="ovl"></div>

    <div class="content">
        <!-- <div class="btnClosePu js_ClosePopup"></div> -->
        <div class="ct">
            <h2><span><img src="assets/images/text-8.png"></span></h2>
            <div class="topPuMb">
                <h3>Giải mã bí ẩn của ngăn Magic room</h3>
                <p>Lựa chọn câu trả lời phù hợp<br/> nhất bạn nhé!</p>
            </div>
            <div class="contentWrap">
                <div class="bg"></div>
                <div class="gamequizWrap">
                    <div class="stepQuiz go-up">
                        <span class="active">1</span>
                        <span>2</span>
                        <span>3</span>
                    </div>
                    <div id="step1" class="ctStep animate">
                        <h3>Ngăn MAGIC ROOM của tủ lạnh AQUA có bao nhiêu mức nhiệt độ?</h3>
                        <ul>
                            <li>
                                <a data-ques="1" data-id="a" class="btn" href="#"><span>a.</span>Thấp nhất; Trung bình; Cao nhất</a>
                            </li>
                            <li>
                                <a data-ques="1" data-id="b" class="btn" href="#"><span>b.</span>5</a>
                            </li>
                            <li>
                                <a data-ques="1" data-id="c" class="btn" href="#"><span>c.</span>6</a>
                            </li>
                        </ul>
                    </div>
                    <div id="step2" class="ctStep animate">
                        <h3>Nhiệt độ tối ưu để ĐÔNG MỀM thực phẩm là bao nhiêu?​</h3>
                        <ul>
                            <li>
                                <a data-ques="2" data-id="a" class="btn" href="#"><span>a.</span>-3 độ C</a>
                            </li>
                            <li>
                                <a data-ques="2" data-id="b" class="btn" href="#"><span>b.</span>-5 độ C​</a>
                            </li>
                            <li>
                                <a data-ques="2" data-id="c" class="btn" href="#"><span>c.</span>-7 độ C​</a>
                            </li>
                        </ul>
                    </div>
                    <div id="step3" class="ctStep animate">
                        <h3>Bia tuyết được tạo nên từ mức nhiệt độ nào?​​</h3>
                        <ul>
                            <li>
                                <a data-ques="3" data-id="a" class="btn" href="#"><span>a.</span>0 độ C</a>
                            </li>
                            <li>
                                <a data-ques="3" data-id="b" class="btn" href="#"><span>b.</span>-5 độ C​</a>
                            </li>
                            <li>
                                <a data-ques="3" data-id="c" class="btn" href="#"><span>c.</span>-10 độ C​</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="gameTulanh" class="popupPage">
    <div class="ovl"></div>

    <div class="content">
        <!-- <div class="btnClosePu js_ClosePopup"></div> -->
        <div class="ct">
            <h2><span><img src="assets/images/text-9.png"></span></h2>
            <div class="topPuMb">
                <h3>Chọn thực phẩm chuẩn nhiệt độ</h3>
                <p>Chọn loại thực phẩm phù hợp đặt trên kệ, kéo thực phẩm bỏ vào ngăn Magic ROOM cho tương ứng với các mức nhiệt độ.</p>
            </div>
            <div class="contentWrap">
                <div class="bg"></div>
                <div class="gameWrap">
                    <h3>Chọn loại thực phẩm phù hợp đặt trên kệ, kéo thực phẩm bỏ vào ngăn Magic ROOM cho tương ứng với các mức nhiệt độ.</h3>
                    <div class="copy">
                        <div class="arPd">
                            <p>KÉO THỰC PHẨM VÀO</p>
                            <img src="assets/images/demo/ar.png">
                        </div>
                        
                        <img class="sparkling1" src="assets/images/sparkling.png">
                        <img class="sparkling2" src="assets/images/sparkling.png">
                        <div class="left">
                            
                            <img src="assets/images/khung.png">
                            <div class="ctPdGame">
                                <div class="item">
                                    <span class="pd1"><img data-temp="4" src="assets/images/demo/pd1.png"></span>
                                    <span class="pd2"><img data-temp="-7" src="assets/images/demo/pd2.png"></span>
                                    <span class="pd3"><img data-temp="-18" src="assets/images/demo/pd3.png"></span>
                                    <span class="pd4"><img data-temp="4" src="assets/images/demo/pd4.png"></span>
                                    <span class="pd5"><img data-temp="4" src="assets/images/demo/pd5.png"></span>
                                </div>
                                <div class="item">
                                    <span class="pd6"><img data-temp="9999" src="assets/images/demo/pd6.png"></span>
                                    <span class="pd7"><img data-temp="4" src="assets/images/demo/pd7.png"></span>
                                    <span class="pd8"><img data-temp="9999" src="assets/images/demo/pd8.png"></span>
                                </div>
                                <div class="item">
                                    <span class="pd9"><img data-temp="0" src="assets/images/demo/pd9.png"></span>
                                    <span class="pd18"><img data-temp="9999" src="assets/images/demo/pd18.png"></span>
                                    <span class="pd10"><img data-temp="-18" src="assets/images/demo/pd10.png"></span>
                                    <span class="pd11"><img data-temp="9999" src="assets/images/demo/pd11.png"></span>
                                    <span class="pd12"><img data-temp="9999" src="assets/images/demo/pd12.png"></span>
                                </div>
                                <div class="item">
                                    <span class="pd13"><img data-temp="9999" src="assets/images/demo/pd13.png"></span>
                                    <span class="pd14"><img data-temp="9999" src="assets/images/demo/pd14.png"></span>
                                    <span class="pd15"><img data-temp="4" src="assets/images/demo/pd15.png"></span>
                                    <span class="pd16"><img data-temp="-10" src="assets/images/demo/pd16.png"></span>
                                    <span class="pd17"><img data-temp="4" src="assets/images/demo/pd17.png"></span>
                                </div>
                            </div>
                        </div>
                        <div class="left mb">
                            
                                <img src="assets/images/khungmb.png">
                                <div class="ctPdGame">
                                    <div class="item">
                                        <span class="pd1"><img data-temp="4" src="assets/images/demo/pd1.png"></span>
                                        <span class="pd2"><img data-temp="-7" src="assets/images/demo/pd2.png"></span>
                                        <span class="pd3"><img data-temp="-18" src="assets/images/demo/pd3.png"></span>
                                        <!-- <span class="pd4"><img data-temp="4" src="assets/images/demo/pd4.png"></span>
                                        <span class="pd5"><img data-temp="4" src="assets/images/demo/pd5.png"></span> -->
                                    </div>
                                    <div class="item">
                                        <span class="pd6"><img data-temp="9999" src="assets/images/demo/pd6-mb.png"></span>
                                        <span class="pd18"><img data-temp="9999" src="assets/images/demo/pd18.png"></span>
                                        <span class="pd8"><img data-temp="9999" src="assets/images/demo/pd8-mb.png"></span>
                                    </div>
                                    <div class="item">
                                        <span class="pd9"><img data-temp="0" src="assets/images/demo/pd9.png"></span>
                                        <span class="pd7"><img data-temp="4" src="assets/images/demo/pd7-mb.png"></span>
                                        <span class="pd10"><img data-temp="-18" src="assets/images/demo/pd10.png"></span>
                                        
                                    </div>
                                    <div class="item">
                                        <span class="pd13"><img data-temp="9999" src="assets/images/demo/pd13.png"></span>
                                        <span class="pd14"><img data-temp="9999" src="assets/images/demo/pd14.png"></span>
                                        <span class="pd16"><img data-temp="-10" src="assets/images/demo/pd16-mb.png"></span>
                                        <span class="pd17"><img data-temp="4" src="assets/images/demo/pd17.png"></span>
                                    </div>
                                </div>
                            </div>
                        <div class="right">
                            <img src="assets/images/tulanh.png">
                            <img class="mb" src="assets/images/tulanh.png">
                            <div class="ctTl">
                                <h4>
                                    <span class="active" data-temp-ml="4" id="temp1">4</span>
                                    <span data-temp-ml="0" id="temp2">0</span>
                                    <span data-temp-ml="-7" id="temp3">-7</span>
                                    <span data-temp-ml="-10" id="temp4">-10</span>
                                    <span data-temp-ml="-18" id="temp5">-18</span> 
                                    độ C
                                </h4>
                                <div class="magicRoom"><img src="assets/images/magic-room.png"></div>
                            </div>
                            <img class="wrongAns" src="assets/images/wrong.png">
                            <img class="rightAns" src="assets/images/right.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>